<px-card header-text='Engine Statistics and Predictions'>

    <px-card header-text='Query data:'>
    <h3>Engine select:</h3>
    <px-dropdown id= 'engineDrop' display-value="Choose an engine..."><px-dropdown-content extend-dropdown='true' extend-dropdown-by='25' max-cont-character-width='10' items={{engineSe}}></px-dropdown-content></px-dropdown>
    <h3>Preventive cycles</h3>
    <input id="prevCycles" type="number" name="quantity" min="1" max="50" value="10">
    <px-card header-text='Engine info'>
        <p><h3>Serial:</h3> {{engineSer}}</>
        <p><h3>Ruta:</h3> {{engineRout}}</p>
        <p><h3>Ciclo actual:</h3> {{engineCycle}}</p>
        <p><h3>Tiempo sobre 263°:</h3> {{engineTime}} minutos</p>

    </px-card>


    <px-vis-xy-chart
        id="engineChart"
        chart-data={{cyclesInGraph}}

        width="741"
        height="304"
        margin='{ "top": "30", "bottom": "60", "left": "75", "right": "20" }'
        x-axis-config='{"title": "Cycles",
                        "labelPosition": "center",
                        "orientation": "bottom"}'
        y-axis-config='{"title": "Index",
                        "labelPosition": "center",
                        "orientation": "left"}'
        register-config='{
                            "height": 50,
                            "type": "horizontal"}'
        series-config='{
                        "firstSerie": {
                        "type": "scatter",
                        "name": "Index",
                        "xAxisUnit": "Cycles",
                        "yAxisUnit": "index",
                        "x": "cycle",
                        "y":"index"
                        }
                        }'
        series-config='{
                        "firstSerie": {
                        "type": "scatter",
                        "name": "Prob. of cancellation",
                        "xAxisUnit": "Cycles",
                        "yAxisUnit": "index",
                        "x": "cycle",
                        "y":"Prob"
                        }
                        }'
        default-series-config='{
                                "x": "Cycles",
                                "xMin": "dynamic",
                                "xMax": "dynamic",
                                "yMin": "dynamic",
                                "yMax": "dynamic"
                                    }'

    >
    </px-vis-xy-chart>

    <h3>Cycle details:</h3>


    <px-data-table table-data="{{cyclesInGraph}}" striped="true" filterable="true" enable-column-reorder="true" enable-column-resize="true">

    </px-data-table>



</px-card>
</px-card>
